<!-- Generated template for the ClientComponent component -->
<h3 padding>Les clients</h3>
<!-- <ion-button color="primary">CORRECTION</ion-button> -->
<!-- <button ion-fab (click)="majClients()">
    <ion-icon name="person"></ion-icon>
  </button> -->
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th class="counter">N°</th>
                <th class="id">id</th>
                <th>Date</th>
                <th>Code Client</th>
                <th>Nom & prénoms</th>
                <th>Quartier & maison</th>
                <th>Téléphone</th>
                <th>Profession</th>
                <th>Lieu d'exercice</th>
                <th>Frais payé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <ng-template #elseBlock>
            <tbody text-center margin padding>
                <ion-spinner class="loading" margin padding></ion-spinner>
            </tbody>
        </ng-template>
        <tbody *ngIf="clients;else elseBlock">
            <tr *ngFor="let client of clients | recherche:dataProvider.userData.currentSearch;let index = index">
                <td class="counter">{{index + 1}}</td>
                <td class="id" style="width:100px">{{client.id}}</td>
                <td>{{client.date | date:'dd/MM/yyyy'}}</td>
                <td >{{client.code}}</td>
                <td style="text-align:left">{{client.name}} {{client.firstName}}</td>
                <td>{{client.quartier}} {{client.maison}}</td>
                <td>{{client.telephone}}</td>
                <td>{{client.profession}}</td>
                <td>{{client.lieuExercice}}</td>
                <td>{{client.fraisOuverture}}</td>
                <td>
                    <ion-icon name="create" (click)="edit(client)" class="edit" *hasRessources="'tontine/api/clients/edit'"></ion-icon>
                    <ion-icon name="ios-close-outline" (click)="delete(client)" class="trash" *hasRessources="'tontine/api/clients/delete'"></ion-icon>
                    <ion-icon class="options" name="md-more" (click)="openOptions($event,client)"></ion-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ion-fab bottom right *hasRessources="'tontine/api/clients/create'">
    <button ion-fab (click)="addClient()">
      <ion-icon name="add"></ion-icon>
    </button>
</ion-fab>
