<h4 ion-text text-uppercase padding-left> Tableau de bord</h4>
<ion-row margin no-wrap>
    <ion-col col-xs-12 col-md-6 col-lg-4 col-xl-4>
        <ion-card no-margin id="clients">
            <ion-item no-margin>
                <ion-avatar item-start text-center padding>
                    <ion-icon name="person"></ion-icon>
                </ion-avatar>
                <p>Nombre de clients</p>
                <ion-badge item-end mode="ios" text-center>{{dataProvider.userData.clients.length || 0}}</ion-badge>
            </ion-item>
        </ion-card>
    </ion-col>
    <ion-col col-xs-12 col-md-6 col-lg-4 col-xl-4>
        <ion-card no-margin id="tontine">
            <ion-item no-margin>
                <ion-avatar item-start text-center padding>
                    <ion-icon name="ios-copy-outline"></ion-icon>
                </ion-avatar>
                <p>Nombre de comptes tontine</p>
                <ion-badge item-end mode="ios" text-center>{{dataProvider.userData['TONTINE'].length || 0}}</ion-badge>
            </ion-item>
        </ion-card>
    </ion-col>
    <ion-col col-xs-12 col-md-12 col-lg-4 col-xl-4>
        <ion-card no-margin id="epargne">
            <ion-item no-margin>
                <ion-avatar item-start text-center padding>
                    <ion-icon name="ios-document-outline"></ion-icon>
                </ion-avatar>
                <p>Nombre de compte epargne</p>
                <ion-badge item-end mode="ios" text-center>{{dataProvider.userData['EPARGNE'].length || 0}}</ion-badge>
            </ion-item>
        </ion-card>
    </ion-col>
</ion-row>
<div ion-row margin padding>
    <ion-card ion-col col-12 text-center margin no-padding>
        <canvas id="myChart" #myChart height="200" no-padding no-margin></canvas>
    </ion-card>
    <ion-card ion-col col-5 text-center margin>
        <h5>Compte tontine/mois</h5>
        <canvas id="myChart2" #myChart2 height="200" no-padding no-margin></canvas>
    </ion-card>
    <ion-card ion-col col-6 text-center margin>
        <h5>Compte epargne/mois</h5>
        <canvas id="myChart3" #myChart3 height="200" no-padding no-margin></canvas>
    </ion-card>

    <ion-card ion-col col-12 text-center margin>
        <canvas id="myChart4" #myChart4 height="200" no-padding no-margin></canvas>
    </ion-card>
</div>