<!--
  Generated template for the WrapperPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title *ngIf="type == 'CreateTontineComponent'">
            Modifier le compte tontine
        </ion-title>
        <ion-title *ngIf="type == 'CreateEpargneComponent'">
            Modifier le compte epargne
        </ion-title>
        <ion-title *ngIf="type == 'CreateCreditComponent'">
            Modifier le compte Crédit
        </ion-title>
        <ion-title *ngIf="type == 'DepotEpargneComponent'">
            Les dépôts sur le compte épargne du client {{compte.client?.name}} {{compte.client?.firstName}}
        </ion-title>
        <ion-title *ngIf="type == 'RetraitEpargneComponent'">
            Les retraits sur le compte épargne du client {{compte.client?.name}} {{compte.client?.firstName}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="type == 'CreateTontineComponent'">
        <create-tontine [compte]="compte"></create-tontine>
    </div>
    <div *ngIf="type == 'CreateEpargneComponent'">
        <create-epargne [compte]="compte"></create-epargne>
    </div>
    <div *ngIf="type == 'DepotEpargneComponent'">
        <depot-epargne [compte]="compte"></depot-epargne>
    </div>
    <div *ngIf="type == 'RetraitEpargneComponent'">
        <retrait-epargne [compte]="compte"></retrait-epargne>
    </div>
    <div *ngIf="type == 'CreateCreditComponent'">
        <create-credit [compte]="compte"></create-credit>
    </div>
</ion-content>
