.popover-content {
    width: auto !important;
}

body {
    background: #e6ecf0;
}

.onLine * {
    color: orangered;
    font-size: 0.8em;
}

table thead tr th {
    white-space: nowrap;
}

ion-icon.icon.item-icon::before {
    font-size: 0.6em !important;
}

.accordion-head .label-md,
.accordion-head ion-label.label.label-md {
    margin: 0 !important;
}

.abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abs2 {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 35px;
    transform: translateY(-50%);
}

.transparent-header {
    // This is just to make the header transparent and button/icon with white color
    .toolbar-content,
    .back-button {
        color: white;
    }
    .toolbar-background,
    ion-navbar,
    ion-header {
        background: transparent !important;
        background-color: transparent !important;
    }
    .header-md::after,
    .toolbar-background-ios {
        background-image: none;
        border-bottom: 0;
    }
    .header-ios .toolbar-background-ios,
    .footer-ios .toolbar-background-ios {
        border: 0;
    } // ---
}

.active {
    background: #f4f4f5;
}

ion-content .scroll-content,
.alert-message {
    overflow-y: auto !important;
}


/*
 *  STYLE 11
 */

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

div::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1) 75%, transparent 75%, transparent)
}

ion-label.oblige:after,
span.oblige:after {
    content: ' *';
    color: red;
}

.loading {
    position: absolute !important;
    left: 50% !important;
}

.table-wrapper {
    overflow-x: auto;
}

.helper-error {
    color: red;
    font-size: 0.8em;
    font-style: italic;
}

table {
    text-align: center;
    width: 99%;
    thead {
        tr th {
            padding: 10px 3px;
            background-color: #f5f5f5;
            border-bottom: 1px solid #6d6767;
        }
        tr th:last-child {
            text-align: right;
        }
    }
    tbody {
        tr:nth-child(even) {
            background-color: #f2f2f2a6;
        }
        tr td:last-child {
            text-align: right;
            white-space: nowrap;
        }
    }
}

.id {
    display: none;
}

.counter {
    display: block;
}


/* .counter2{
    display: block;
} */

.hide {
    display: none;
}

.edit,
.trash,
.options {
    border-radius: 50%;
    padding: 5px;
    margin-right: 2px;
}

.edit:hover {
    cursor: pointer;
    background-color: #AAA;
}

.trash:hover {
    cursor: pointer;
    background-color: rgb(233, 53, 53);
}

.options:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.client-search .modal-wrapper {
    max-width: 350px !important;
    margin: 5px auto !important;
}