<!-- Generated template for the RetraitEpargneComponent component -->
<h4 ion-text text-center *ngIf="!compte"> La liste des retraits du crédit</h4>
<div class="table-wrapper">
    <div class="total">
        Total : <span>{{montant | currency:'XOF':true:'2.0'}}</span>
    </div>
    <table>
        <thead>
            <tr>
                <th class="counter">N°</th>
                <th class="id">id</th>
                <th *ngIf="!compte">Compte client</th>
                <th>Date de retrait</th>
                <th>Montant</th>
                <th>Nom retirant</th>
                <th>Téléphone retirant</th>
                <th></th>
            </tr>
        </thead>
        <ng-template #elseBlock>
            <tbody text-center margin padding>
                <ion-spinner class="loading" margin padding></ion-spinner>
            </tbody>
        </ng-template>
        <tbody *ngIf="retraits;else elseBlock">
            <tr *ngFor="let retrait of retraits | recherche:dataProvider.userData.currentSearch;let index = index">
                <td class="counter">{{index + 1}}</td>
                <td class="id">{{retrait.id}}</td>
                <td *ngIf="!compte">{{retrait?.client?.name}} {{retrait?.client?.firstName}}</td>
                <td>{{retrait.date | date:'medium'}}</td>
                <td>{{retrait.montant | currency:'XOF':true:'2.0'}}</td>
                <td>{{retrait?.nameRetirant}}</td>
                <td>{{retrait?.phoneRetirant}}</td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>
